You can find the requirements for the posted code at the links below:


Atoi: https://cs50.harvard.edu/x/2023/problems/3/atoi/

Temps: https://cs50.harvard.edu/x/2023/problems/3/temps/

Max: https://cs50.harvard.edu/x/2023/problems/3/max/

Snackbar: https://cs50.harvard.edu/x/2023/problems/3/snackbar/

Plurality: https://cs50.harvard.edu/x/2023/psets/3/plurality/

Runoff: https://cs50.harvard.edu/x/2023/psets/3/runoff/
